@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

/* GENERAL PAGE ELEMENTS: */ 
* {
    box-sizing: border-box;
}

/* general header */
.navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4B6C20;
}
.navbar a {
    /*display: block;*/
    text-decoration: none;  
    font-family: 'Archivo Narrow', charcoal, sans-serif;
    font-size: 23px;
    color: #FAFCF7;   
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;    
    text-align: center;
}
.navbar a:hover {
    background-color: #CCE6AA;
    color: #4B6C20;
}
.hactive {
    background-color: #333;
}

/* header elements */
h1 {
    font-family: 'Fjalla One', charcoal, sans-serif;
    font-size: 80px;
    color: #333;
    text-align: center;
}
h2 {
    font-family: 'Fira Sans Condensed', charcoal, sans-serif;
    font-size: 30px;
    color: #333;
    margin: 10px;
}
h3 {
    font-family: 'Archivo Narrow', charcoal, sans-serif;
    font-size: 45px;
    color: #FAFCF7;
}

h5 {
    font-family: 'Archivo Narrow', charcoal, sans-serif;
    font-size: 20px;
    color: #CCE6AA; 
}
h5.dark {
    font-family: 'Archivo Narrow', charcoal, sans-serif;
    font-size: 20px;
    color: #333; 
    margin-top: 5px;
    margin-bottom: 10px;
}
h6 {
    font-family: 'Archivo Narrow', charcoal, sans-serif;
    font-size: 20px;
    color: #333;   
    text-align: center;
    margin: 0;
    padding: 16px;
}


p.darkback {
    font-family: 'Archivo Narrow', charcoal, sans-serif;
    font-size: 20px;
    color: #CCE6AA;
}

#centered { text-align: center; }
body { margin: 0; }

/* FRONT PAGE ELEMENTS: */
/* top banner + text */
.top-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin: 0;
    padding: 0;
    background: url('images/frontimage.png') no-repeat fixed center center;
    background-size: cover;
    height: 500px;
}
.banner-text {
    margin: 10px auto;
    text-align: center;
}
.banner-subtext {
    margin: 10px auto;
    justify-content: center;
    text-align: center;
    width: 500px;
}

/* subpage descriptions */
.front-container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    background-color: #4B6C20;
}
.front-container:after {
    content: "";
    display: table;
    clear: both;
}
.front-column {
    float: left;
    width: 33.33%;
    text-align: center;
    margin: 0;
    padding: 5px;
    background-color: #4B6C20;
}

/* SUBPAGE ELEMENTS: */
.subpage-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin: 0;
    padding: 0;
    background: url('images/subpageimage.png') no-repeat fixed center center;
    background-size: cover;
    height: 375px;
}

/* subtopic bar */
.skipto {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #B1A084;
    text-align: center;
    height: 70px;
    width: 100%;
    z-index: 2;
}
.skipto a {
    display: inline;
    text-decoration: none;  
    font-family: 'Archivo Narrow', charcoal, sans-serif;
    font-size: 20px;
    color: #333;   
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}
.skipto a:hover {
    background-color: #876654;
    color: #FAFCF7;
}

.personal-container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    background-color: #FAFCF7;
    height: 300px;
}
.personal-container:after {
    content: "";
    display: table;
    clear: both;
}
.personal-container > div {
    background-color: #4B6C20;
    width: 30%;
    margin: 20px;
    text-align: center;
    opacity: 0.80;
}

.text1 {
    height: 1000px;
    background-color: #CCE6AA;
}

/* HORIZONTAL TIMELINE: */
ol.h-timeline {
	position: relative;
	display: block;
	margin: 100px;
	height: 4px;
	background: #4B6C20;
}
ol.h-timeline::before, ol.h-timeline::after {
	content: "";
	position: absolute;
	top: -8px;
	display: block;
	width: 0;
	height: 0;
    border-radius: 10px;
	border: 10px solid #4B6C20;
}
ol.h-timeline::before {
	left: -5px;
}
ol.h-timeline::after {
	right: -10px;
	border: 10px solid transparent;
	border-right: 0;
	border-left: 20px solid #4B6C20;
    border-radius: 3px;
}

/* ---- Timeline elements ---- */
ol.h-timeline > li {
    position: relative;
    display: inline-block;
    float: left;
    width: 150px;
    font: bold 14px arial;
    height: 50px;
}
li .yearpoint {
    position: absolute;
    top: -47px;
    left: 36%;
    color: #333;
    font-family: 'Fira Sans Condensed', charcoal, sans-serif;
    font-size: 18px;
}
li .point {
	content: "";
	top: -4px;
	left: 43%;
	display: block;
	width: 6px;
	height: 6px;
	border: 4px solid #4B6C20;
	border-radius: 10px;
	background: #333;
    position: absolute;
}
li .description {
    display: none;
    background-color: #CCE6AA;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    font-weight: normal;
    text-align: center;
    z-index: 1;
}
.description::before {
    content: '';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #CCE6AA;
    position: absolute;
    top: -5px;
    left: 43%;
}

/* ---- Hover effects ---- */
li:hover {
    cursor: pointer;
    color: #4B6C20;
}
li:hover .description {
    display: block;
}
.event {
    color: #4B6C20;
    font-family: 'Archivo Narrow', charcoal, sans-serif;
    font-size: 18px;
    transition: transform .2s; /* Animation */
    margin: 2px 2px;
}
.event:hover {
    color: #4B6C20;
    transform: scale(1.15);
}


/* The actual timeline (the vertical ruler) */
.v-timeline {
    background-color: #CCE6AA;
    position: relative;
    max-width: 1200px;
    margin: 0;
}

/* The actual timeline (the vertical ruler) */
.v-timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 31px;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    padding-left: 70px;
    padding-right: 25px;
    position: relative;
    background-color: inherit;
    width: 100%;
    margin: 0;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #876654;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left or right*/
.container { left: 0; }
.container::after { left: 15px; }

/* Add arrows to the right container (pointing left) */
.container::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #FAFCF7;
    border-width: 10px 10px 10px 0;
    border-color: transparent #FAFCF7 transparent transparent;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: #FAFCF7;
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {
    .navbar, .front-container, .top-banner, .subpage-top, .personal-container {   
      flex-direction: column;
    }
    .front-column, .personal-container > div {
        width: 100%;
    }

    ol.h-timeline * , .description, .event{
        display: none;
    }


  }

