@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

/* GENERAL PAGE ELEMENTS: */ 
* {
    box-sizing: border-box;
}

/* general header */
.navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4B6C20;
}
.navbar a {
    /*display: block;*/
    text-decoration: none;  
    font-family: 'Archivo Narrow', charcoal, sans-serif;
    font-size: 23px;
    color: #FAFCF7;   
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;    
    text-align: center;
}
.navbar a:hover {
    background-color: #CCE6AA;
    color: #4B6C20;
}
.hactive {
    background-color: #333;
}

/* header elements */
h1 {
    font-family: 'Fjalla One', charcoal, sans-serif;
    font-size: 80px;
    color: #333;
    text-align: center;
}
h2 {
    font-family: 'Fira Sans Condensed', charcoal, sans-serif;
    font-size: 30px;
    color: #333;
    text-align: center;
}
h3 {
    font-family: 'Archivo Narrow', charcoal, sans-serif;
    font-size: 45px;
    color: #FAFCF7;
}

h5 {
    font-family: 'Archivo Narrow', charcoal, sans-serif;
    font-size: 30px;
    color: #CCE6AA; 
}


p.darkback {
    font-family: 'Archivo Narrow', charcoal, sans-serif;
    font-size: 20px;
    color: #CCE6AA;
}

body { margin: 0; }

/* FRONT PAGE ELEMENTS: */
/* top banner + text */
.top-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin: 0;
    padding: 0;
    background: url('images/frontimage.png') no-repeat fixed center center;
    background-size: cover;
    height: 500px;
}
.banner-text {
    margin: auto;
    text-align: center;
}
.banner-subtext {
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 500px;
}

/* subpage descriptions */
.front-container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    background-color: #4B6C20;
}
.front-container:after {
    content: "";
    display: table;
    clear: both;
}
.front-column {
    float: left;
    width: 33.33%;
    text-align: center;
    margin: 0;
    padding: 5px;
    background-color: #4B6C20;
}

/* SUBPAGE ELEMENTS: */
.subpage-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin: 0;
    padding: 0;
    background: url('images/subpageimage.png') no-repeat fixed center center;
    background-size: cover;
    height: 375px;
}

/* subtopic bar */
.skipto {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #B1A084;
    text-align: center;
    height: 75px;
    width: 500px;
    opacity: 0.8;
}
.skipto a, .skip {
    display: inline;
    text-decoration: none;  
    font-family: 'Archivo Narrow', charcoal, sans-serif;
    font-size: 20px;
    color: #333;   
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    opacity: 0.8;
}
.skipto a:hover {
    background-color: #876654;
    color: #FAFCF7;
    opacity: 0.8;
}

.personal-container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    background-color: #FAFCF7;
    height: 300px;
}
.personal-container:after {
    content: "";
    display: table;
    clear: both;
}
.personal-container > div {
    background-color: #4B6C20;
    width: 30%;
    margin: 20px;
    text-align: center;
    opacity: 0.80;
}

.text1 {
    height: 1000px;
    background-color: #CCE6AA;
}

@media screen and (max-width: 700px) {
    .navbar, .front-container, .top-banner, .subpage-top, .personal-container {   
      flex-direction: column;
    }
    .front-column, .personal-container > div {
        width: 100%;
    }
  }