@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

/* GENERAL PAGE ELEMENTS */ 
/* header elements */
ul.topheader {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4B6C20;
}
li.hactive, li.hnotactive {
    float: left;
}
li a.hactive, li a.hnotactive {
    display: block; 
    color: #FAFCF7;   
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
a.hactive:hover, a.hnotactive:hover {
    background-color: #CCE6AA;
}

.hactive {
    font-family: 'Archivo Narrow', charcoal, sans-serif;
    font-size: 23px;
    background-color: #333;
}
.hnotactive {
    font-family: 'Archivo Narrow', charcoal, sans-serif;
    font-size: 23px;
}

/* front page elements */


/* subpage elements */